.gameWindow{
    width: 100%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 122px 40px 122px 80px;
}

.question{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.16em;
    max-width: 624px;
    width: 100%;
    margin: 0;
}

.ansvers{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(320px, 1fr));
    max-width: 840px;
    width: 100%;
    row-gap: 32px;
}

@media(min-width: 1441px){
    .gameWindow{
        max-width: 100%;
    }
    /* .question{
        font-size: 56px;
        max-width: 1000px;
    } */
}

@media(max-width: 1024px){
    .gameWindow{
        max-width: 70%;
        padding: 80px 40px;
    }
    .question{
        font-size: 30px;
    }
    .ansvers{
        row-gap: 8px;
    }
}

@media(max-width: 768px){
    .gameWindow{
        max-width: 100%;
        align-items: center;
        padding: 136px 0 24px;
        gap: 100px;
    }
    .question{
        text-align: center;
        font-size: 24px;
        padding: 0 16px;
    }
    .ansvers{
        place-items: center;
        grid-template-columns: 1fr;
    }
}

@media(max-width: 425px){
    .question{
        font-size: 18px;
    }
}